/*declaration block
h1 is selector
inside is property value pairs */
h1 {
    font-size: 2.8em;
    font-weight: bold;
    color: black;
    text-align: center;
}
ul {
    list-style: none;
    text-align: center;
}
body {
    font-size: 1em;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    width:1370px;
    /*this is so the navigation menu will be centered*/
    margin: 0 auto;
    padding-right: 0%;
}
#border {
    border-style: solid;
    
}
#banner {
    background-color: rgb(170, 231, 191);
    border-bottom: solid;
    border-top: solid;
}
table {
    border:solid;
    margin: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}
caption {
    font-size: 2em;
}

p {
    text-align: center;
}
td,th {
    border:solid;
    margin: 5%;
    margin-bottom: 20%;
    padding:.5em;
    padding-right: .5em;
}
/*this is the css used to create the navigation menu */
nav{
    clear:left;
    padding:1em;
    margin-left: 0em;
}
nav ul li {
    float: left;
    margin-right: 0.5em;
}
nav ul li a {
    padding: 0.25em 1em;
    text-decoration: none; /* no underline */
    background-color: #EBF5FF; /* pale bluish white */
    color: #4312AE; /* dark blue */
    border: 2px solid black;
    border-top-left-radius: 1em 1em; /* rounded corner! */
    border-top-right-radius: 1em 1em; /* another rounded corner! */
}
nav ul li a:hover, nav ul li a:focus {
    color: black;
    background-color: white;
    font-weight: bold;
}
    
  /*javascript css */
li.jsList {
    margin: 5%;
}
button.jsFun {  
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}
  /*jsDom.html css */
table#bankTable {  
    margin: 0 auto;
}
table#bankTable caption {
    font-size: 1.5em;
}
h2#jsDom {
    text-align: center;
    margin-bottom: 5%;
}
button.bankAction {
    margin-left: 35%;
    margin-top:2%;
}
  